body{
  text-align: center;
  background-color: rgb(180, 207, 182);
  font-family: Arial, Helvetica, sans-serif;

}

.App {
  margin-top: 50px;
  margin-bottom:50px;

}
.enunciado{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 800;
}

.custom-btn{
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(4, 231, 91, 0.241);
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius:16px ;

}

